1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3F
FILEFLAGS 0
FILEOS 0x40004
FILETYPE 0x2
FILESUBTYPE 0x0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "shiina"
            VALUE "FileDescription", "AES-GCM Encrypt/Decrypt"
            VALUE "FileVersion", "1.0.0"
            VALUE "InternalName", "aes_gcm.dll"
            VALUE "OriginalFilename", "aes_gcm.dll"
            VALUE "ProductName", "AES-GCM"
            VALUE "ProductVersion", "1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
